@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

@media print {
  .printing {
    inset: 0;
    padding: 1.5rem;
    height: 100vh;
    width: 100vw;
  }
}

body {
  @apply
    mx-2
    md:mx-10
    my-2
    print:m-0
  ;
}

.box {
  .title {
    @apply
      text-2xl
      flex
      justify-between
    ;
  }
}

.entryLine {
  @apply
    border-b
    border-black
    border-dotted
  ;
}

.form-row {
  &--area {
    @apply flex flex-col items-start;

    textarea {
      @apply border-2 border-black rounded p-1 w-full;
    }
  }

  label {
    @apply font-bold;
  }

  input[type="number"] {
    @apply border-2 border-black rounded text-right p-1;
  }

  select {
    @apply border-2 border-black rounded p-1;
  }
}
